@model WebApplication.Models.FormulaOfGrainAddModel
@{

}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        @using (Html.BeginForm("Add", "FormulaOfGrain", FormMethod.Post, new { id = "Add", autocomplete = "off" }))
        {
            <input type="hidden" asp-for="FormulaId" />
            <input type="hidden" asp-for="GrainTypeId" />

            <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1">
                <tr>
                    <td align="right" bgcolor="#F6F6F6"><label asp-for="GrainId"></label>:</td>
                    <td align="left" bgcolor="#F6F6F6">
                        @Html.DropDownListFor(o=>o.GrainId,Model.Grains.Select(o=> new SelectListItem() { Value=o.GrainId, Text=o.GrainName}))
                        <span asp-validation-for="GrainId"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right" bgcolor="#F6F6F6"><label asp-for="Amount"></label>:</td>
                    <td align="left" bgcolor="#F6F6F6">
                        <input asp-for="Amount" />
                        <span asp-validation-for="Amount"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right" bgcolor="#F6F6F6"></td>
                    <td align="left" bgcolor="#F6F6F6">
                        <span class="f12red">@ViewBag.Message</span>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</a>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/FormulaOfGrain/Add",
                type: "Post",
                data: $("#Add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnAddTrue1($("#GrainTypeId").val());
                    }
                    else {
                        window.parent.frameReturnFalse1(data.data);
                    }
                }
            });
        }
    }

</script>