@model WebApplication.Models.FormulaOfGrainUpdateModel

@{

}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        <form>
            <input type="hidden" asp-for="FormulaId" />
            <input type="hidden" asp-for="GrainTypeId" />
            <input type="hidden" asp-for="GrainId" />
            <div class="container-fluid" style="padding-top:30px;">
                <div class="container-fluid" style="padding-top:30px;">
                    <div class="row">
                        <div class="col-sm-2 text-right font-weight-bold">
                            <label asp-for="GrainName" class="control-label control-required"></label>：
                        </div>
                        <div class="col-sm-9">
                            <input asp-for="GrainName" class="form-control form-control-sm" readonly/>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2 text-right font-weight-bold">

                        </div>
                        <div class="col-sm-9">
                            <span asp-validation-for="GrainName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 text-right font-weight-bold">
                            <label asp-for="Amount" class="control-label control-required"></label>：
                        </div>
                        <div class="col-sm-9">
                            <input asp-for="Amount" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-2 text-right font-weight-bold">

                        </div>
                        <div class="col-sm-9">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <button class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</button>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/FormulaOfGrain/Update",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnUpdateTrue1($("#GrainTypeId").val());
                    }
                    else {
                        window.parent.frameReturnFalse1(data.data);
                    }
                }
            });
        }
    }

</script>
