@model WebApplication.Models.FunctionAddModel

@{
    ViewBag.Title = "Add";

    IList<SelectListItem> funList = Model.Functions.Select(o => new SelectListItem()
    {
        Value = o.FunctionId.ToString(),
        Text = o.Name
    }).ToList();

    funList.Insert(0, new SelectListItem()
    {
        Value = "0",
        Text = "顶级功能"
    });

    IList<SelectListItem> pages = Model.Pages.Select(o => new SelectListItem()
    {
        Value = o,
        Text = o
    }).ToList();

}

<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'center'" style="padding:10px;">
        <form>
            <div class="container-fluid" style="padding-top:30px;">
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="ParentId" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.ParentId, funList, new { Class = "form-control  form-control-sm" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="ParentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="Name" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="Icon" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="Icon" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="Page" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.Page, pages, new { Class = "form-control  form-control-sm" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="Page" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" asp-for="Display" class="form-check-input" />
                                <label asp-for="Display" class="form-check-label"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="Postion" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="Postion" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="Postion" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </form>
	</div>
	<div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <button class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</button>
	</div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/Function/Add",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        window.parent.frameReturnAddTrue();
                    }
                    else {
                        window.parent.frameReturnFalse();
                    }
                }
            });
        }
    }

</script>