@model WebApplication.Models.GrainAddModel

@{

}
<div class="easyui-layout" data-options="fit:true" style="background-color:#f5f5f5;">
    <div data-options="region:'center'">
        <form>
            <div class="container-fluid" style="margin-top:30px;">
                <div class="row ">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainId" class="control-label control-required"></label>
                            </div>
                            <div class="col-sm-9 input-group input-group-sm">
                                <input asp-for="GrainId" class="form-control form-control-sm text-lowercase" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="javascript: generateGuidCode();">=</button>
                                </div>
                            </div>
                        </div>
                        <div class="row field-validation-info">
                            <div class="col-sm-3 text-right font-weight-bold">

                            </div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainId"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainName" class="control-label control-required"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="GrainName" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">

                            </div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainCode" class="control-label control-required"></label>
                            </div>
                            <div class="col-sm-9 ">
                                <input asp-for="GrainCode" class="form-control form-control-sm text-lowercase" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">

                            </div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainCode" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainPinYin" class="control-label control-required"></label>
                            </div>
                            <div class="col-sm-9 input-group input-group-sm">
                                <input asp-for="GrainPinYin" class="form-control form-control-sm text-lowercase" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" onclick="javascript: generateFirstSpell();">=</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">

                            </div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainPinYin" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainTypeId" class="control-label"></label>
                            </div>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(o => o.GrainTypeId, Model.GrainTypes.Select(o => new SelectListItem() { Value = o.GrainTypeId.ToString(), Text = o.GrainTypeName }), new { Class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">

                            </div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainTypeId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainType2Id" class="control-label"></label>
                            </div>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(o => o.GrainType2Id, Model.GrainType2s.Select(o => new SelectListItem() { Value = o.GrainType2Id.ToString(), Text = o.GrainType2Name }), new { Class = "form-control form-control-sm" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">

                            </div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainType2Id" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row ">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainWeight" class="control-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="GrainWeight" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold"></div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainWeight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainUnit" class="control-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="GrainUnit" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold"></div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainUnit" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainColor" class="control-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="GrainColor" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold"></div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainColor" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold">
                                <label asp-for="GrainDescription" class="control-label"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="GrainDescription" class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 text-right font-weight-bold"></div>
                            <div class="col-sm-9">
                                <span asp-validation-for="GrainDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <div class="col-sm-3 font-weight-bold">
                            <label asp-for="GrainComment" class="control-label"></label>
                        </div>
                        @Html.TextAreaFor(o => o.GrainComment, new { Class = "easyui-texteditor", Style = "height:280px;" })
                        <span asp-validation-for="GrainComment" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <button class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</button>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/Grain/Add",
                type: "Post",
                data: $("form").serialize(),
                //data: $("#Add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnAddTrue();
                    }
                    else {
                        window.parent.frameReturnFalse(data.data);
                    }
                }
            });
        }
    }

    //获取一个GUID
    function generateGuidCode() {
        $.ajax({
            url: "/GenerateCode/GuidCode",
            type: "Post",
            dataType: "json",
            success: function (data) {
                if (data.state == "ok") {
                    $("#GrainId").val(data.data);
                }
                else {
                    alert(data.data);
                }
            }
        });
    }

    //获取汉字转首字母
    function generateFirstSpell() {
        $("#GrainPinYin").val("");
        var value = $("#GrainName").val();
        if (value == "") {
            window.parent.frameReturnFalse("名称不能为空，请首先填写名称。");
            return;
        }

        $.ajax({
            url: "/GenerateCode/FirstSpell",
            type: "Post",
            data: { value:value},
            dataType: "json",
            success: function (data) {
                if (data.state == "ok") {
                    $("#GrainPinYin").val(data.data);
                }
                else {
                    alert(data.data);
                }
            }
        });
    }

</script>

@*
    <div class="col">
    <div class="row">
        <div class="col-sm-3 text-right font-weight-bold"></div>
        <div class="col-sm-9"></div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right font-weight-bold"></div>
        <div class="col-sm-9"></div>
    </div>
</div>
<div class="col">
    <div class="row">
        <div class="col-sm-3 text-right font-weight-bold"></div>
        <div class="col-sm-9"></div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-right font-weight-bold"></div>
        <div class="col-sm-9"></div>
    </div>
</div>
    *@