@model WebApplication.Models.GrainUpdateModel

@{

}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        @using (Html.BeginForm("Update", "Grain", FormMethod.Post, new { id = "Update", autocomplete = "off" }))
        {
            <input type="hidden" asp-for="GrainId" />
            <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1">
                <tr>
                    <td align="right" bgcolor="#F6F6F6"><label asp-for="GrainName"></label>:</td>
                    <td align="left" bgcolor="#F6F6F6">
                        <input asp-for="GrainName" />
                        <span asp-validation-for="GrainName"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right" bgcolor="#F6F6F6"><label asp-for="GrainCode"></label>:</td>
                    <td align="left" bgcolor="#F6F6F6">
                        <input asp-for="GrainCode" />
                        <span asp-validation-for="GrainCode"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right" bgcolor="#F6F6F6"><label asp-for="GrainPinYin"></label>:</td>
                    <td align="left" bgcolor="#F6F6F6">
                        <input asp-for="GrainPinYin" />
                        <span asp-validation-for="GrainPinYin"></span>
                    </td>
                </tr>
                <tr>
                    <td align="right" bgcolor="#F6F6F6"></td>
                    <td align="left" bgcolor="#F6F6F6">
                        <span class="f12red">@ViewBag.Message</span>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</a>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/Grain/Update",
                type: "Post",
                data: $("#Update").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnUpdateTrue();
                    }
                    else {
                        window.parent.frameReturnFalse(data.data);
                    }
                }
            });
        }
    }

</script>

