@model WebApplication.Models.FormulaAddModel




<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        <form>
            <div class="container-fluid" style="padding-top:30px;">
                <div class="row">
                    <div class="col-sm-3 text-right font-weight-bold">
                        <label asp-for="FormulaName" class="control-label control-required"></label>：
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="FormulaName" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="FormulaName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right font-weight-bold">
                        <label asp-for="FormulaCode" class="control-label control-required"></label>：
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="FormulaCode" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="FormulaCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right font-weight-bold">
                        <label asp-for="FormulaPinYin" class="control-label control-required"></label>：
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="FormulaPinYin" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="FormulaPinYin" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <button class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</button>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/Formula/Add",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnAddTrue();
                    }
                    else {
                        window.parent.frameReturnFalse(data.data);
                    }
                }
            });
        }
    }

</script>
