@model WebApplication.Models.FormulaJsonIndexModel
@using SqlDal;
@using Model;

@{
    ViewBag.Title = "Index";
    var currentPage = "/Formula/Index";
    var function = new FunctionDal().FindByPage(currentPage);
}

<div class="easyui-layout" fit="true">
    @*<div region="north" border="false">
        <div style="height:30px; padding:6px 5px 3px 5px;">

        </div>

    </div>*@
    <div region="center" border="false" style=" padding:3px 3px 3px 3px ;">
        <table id="tt" class="easyui-datagrid" fit="true" fitColumns="false" toolbar="#tb"
               singleSelect="true" pagination="true" pagelist="[50]" pagesize="50" striped="true" rownumbers="true"
               url="/Formula/JsonIndex">
            <thead>
                @await Html.PartialAsync("_TableColumn", new PartialTableColumnModel() { FunctionId = function.FunctionId, CurrentAdmin = Model.CurrentAdmin })
            </thead>
        </table>
    </div>
</div>

<div id="tb">
    @await Html.PartialAsync("_TableCommand", new PartialTableCommandModel() { FunctionId = function.FunctionId, CurrentAdmin = Model.CurrentAdmin })
</div>

<script type="text/javascript">

    function tableColumn() {
        window.location.href = "/TableColumn/Index?functionId=@(function.FunctionId)&returnUrl=@(function.Page)";
    }

    function formatter(data, rec) {
        return data;
    }

    function queryData() {

        var beginDateTime = $("#BeginDateTime");
        var endDateTime = $("#EndDateTime");

        var beginDateTimeVal = beginDateTime.val();
        var endDateTimeVal = endDateTime.val();

        $("#tt").datagrid({
            queryParams: {
                beginDateTime: beginDateTimeVal,
                endDateTime: endDateTimeVal
            },
            pageNumber: 1
        });

        closePaginationOptions();
    }

    function closePaginationOptions() {
        //设置分页控件
        var p = $("#tt").datagrid('getPager');
        $(p).pagination({
            showPageList: false,
            showRefresh: false
        });
    }

    $(document).ready(function () {
        closePaginationOptions();
    });


    function add() {

        $("#modalwindow").html("<iframe width='100%' height='100%' scrolling='auto' frameborder='0'' src='/Formula/Add'></iframe>");
        $("#modalwindow").window({
            title: '添加', width: 700, height: 400, left: ($(window).width() - 700) / 2, top: ($(window).height() - 400) / 2,
            iconCls: 'icon-add'
        }).window('open');
    }

    function update() {
        var row = $('#tt').datagrid('getSelected');
        if (row == null) {
            $.messageBox5s('提示', '请选择要操作的记录');
            return;
        } else {
            var str = "<iframe width='100%' height='100%' scrolling='auto' frameborder='0'' src='/Formula/Update?FormulaId=" + row.FormulaId + "'></iframe>";
            $("#modalwindow").html(str);
            $("#modalwindow").window({
                title: '修改',
                width: 700,
                height: 400,
                left: ($(window).width() - 700) / 2,
                top: ($(window).height() - 400) / 2,
                iconCls: 'icon-edit'
            }).window('open');
        }
    }

    function del() {

        var row = $('#tt').datagrid('getSelected');
        if (row != null) {
            $.messager.confirm('提示', '确定删除', function (r) {
                if (r) {
                    $.post("/Formula/Delete?FormulaId=" + row.FormulaId, function (data) {
                        if (data == 1) {
                            $.messageBox5s('提示', "删除成功");
                            loadData();
                        }
                    }, "json");

                }
            });
        } else { $.messageBox5s('提示', '请选择要操作的记录'); }

    }

    function loadData() {
        $("#tt").datagrid("load");
    }


    function returnDeleteTrue() {
        $.messageBox5s("提示", "成功");
        $("#modalwindow").window("close");
        loadData();
    }

    function frameReturnUpdateTrue() {
        $.messageBox5s("提示", "成功");
        $("#modalwindow").window("close");
        loadData();
    }

    function frameReturnAddTrue() {
        $.messageBox5s("提示", "成功");
        $("#modalwindow").window("close");
        loadData();
    }

    function frameReturnFalse(data) {
        if (data) {
            $.messageBox5s("提示", data);
        } else {
            $.messageBox5s("提示", "失败");
        }
    }

</script>

