@model WebApplication.Models.GranariesAddModel

@{

}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        @using (Html.BeginForm("Add", "Granaries", FormMethod.Post, new { id = "Add", autocomplete = "off" }))
        {
        <table width="100%" border="0" align="center" cellpadding="5" cellspacing="1">
            <tr>
                <td align="right" bgcolor="#F6F6F6"><label asp-for="GranariesName"></label>:</td>
                <td align="left" bgcolor="#F6F6F6">
                    <input asp-for="GranariesName" />
                    <span asp-validation-for="GranariesName"></span>
                </td>
            </tr>
            <tr>
                <td align="right" bgcolor="#F6F6F6"><label asp-for="GranariesOrder"></label>:</td>
                <td align="left" bgcolor="#F6F6F6">
                    <input asp-for="GranariesOrder" />
                    <span asp-validation-for="GranariesOrder"></span>
                </td>
            </tr>
            <tr>
                <td align="right" bgcolor="#F6F6F6"><label asp-for="MaxCapacity"></label>:</td>
                <td align="left" bgcolor="#F6F6F6">
                    <input asp-for="MaxCapacity" />
                    <span asp-validation-for="MaxCapacity"></span>
                </td>
            </tr>
            <tr>
                <td align="right" bgcolor="#F6F6F6"></td>
                <td align="left" bgcolor="#F6F6F6">
                    <span class="f12red">@ViewBag.Message</span>
                </td>
            </tr>
        </table>
        }
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</a>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/Granaries/Add",
                type: "Post",
                data: $("#Add").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnAddTrue();
                    }
                    else {
                        window.parent.frameReturnFalse(data.data);
                    }
                }
            });
        }
    }

</script>