@model WebApplication.Models.AdministratorUpdateModel

@{
    ViewBag.Title = "Update";

    IList<SelectListItem> roleList = Model.RoleList.Select(o => new SelectListItem()
    {
        Value = o.RoleId.ToString(),
        Text = o.Name,
    }
    ).ToList();

}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        <form>
            <input type="hidden" asp-for="AdministratorId" />
            <div class="container-fluid" style="padding-top:30px;">
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="RoleId" class="control-label control-required"></label>：
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.RoleId, roleList, new { Class = "form-control  form-control-sm" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="Name" class="control-label control-required"></label>：
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Name" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="Accounts" class="control-label control-required"></label><span>：</span>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Accounts" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="Accounts" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="PassWord" class="control-label control-required"></label>：
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="PassWord" class="form-control form-control-sm" />
                        <br />
                        <span>密码为空不修改</span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <label asp-for="Phone" class="control-label"></label>：
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Phone" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-9">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <input name="Accounts1" type="text" style="width:1px;height:1px;" />
                    <input name="Password1" type="password" style="width:1px;height:1px;" />
                </div>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <button class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</button>
    </div>
</div>

<script type="text/javascript">
    function submit1() {
        var data = $("form").serialize();
        if ($("form").valid()) {
            $.ajax({
                url: "/Administrator/Update",
                type: "Post",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data == 1) {
                        window.parent.frameReturnAddTrue();
                    }
                    else {
                        window.parent.frameReturnFalse();
                    }
                }
            });
        }
    }
</script>



